.Facebook{
	background: url(asset_path('social-icons.png')) 0 0;
}

.Twitter{
	background: url(asset_path('social-icons.png')) -37px 0;
}

.Linkedin{
	background: url(asset_path('social-icons.png')) -150px 0;
}

.Google{
	background: url(asset_path('social-icons.png')) -222px 0;
}
